/* 4 -  External */

body {
    padding-bottom: 500px;
}
h3 {
    color: green;
}

/* p {
    color: blueviolet;
} */

/* Algum comentário */
/* Mais um comentário */
/* Terceiro comentário */

/* classes */

.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* ids */

#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* ordem das regras */

h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name {
    color: crimson;
}

/* Hex */
.hex {
    color: #55a398;
}

.hex2 {
    color: #aa00ff;
}

.hex3 {
    color: #ffff00;
}

/* Aprofundando em hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #a5f;
}

.simple-hex-3 {
    color: #f00;
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);

}

.mixed-rgb {
    color: rgb(0, 0, 0);
}

/* RGBA */
.rgba {
    color: rgba(100, 199, 45, 0.3);
}

.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(200, 37%, 91%);
}

/* Background */

.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}

/* Background opacity */

.bg-opacity {
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    color: #000;
    opacity: .8;
}